.center {
 text-align: center;
 background-color: white;
}

.background {
 color: #FFFFFF;
 font-size: 20px;
}

nav li { 
   border: 1px solid #000000;
   
}

li {
  display: inline;
  display-color: white;
}

.banner {
 background-color: black;
 pacity: 0.6;
 color: white;
 text-align: center;
 font-family: Arial black;
}

.split2 {
 width: 800px;
 height:300px;
 float: right;
 font-family: Arial;
 background-color: #A0DAA9;
color: #FFFFFF;
font-size: 16px;
}

.align1 {
 text-align: center;
}

.color {
color: #FFFFFF;
font-size: 16px;
background-color: lightblue;
height:300px;
 font-family: Arial;
}

.align {
 text-align: center;
 font-family: Arial black;
}

.luuuu {
 background-color: #FF6F61;
 width: 300px;
 height:50px;
 color: white;
 font-family: Arial black;
}


.footer{
 color: #FFFFFF;
 font-family: arial;
}
